<section class="page-head container mx-auto not-full-height">
  <div class="biggest">
    <div class="flex">
      <div class="w-full lg:w-10/12 mx-auto">
        <h1 class="">
          The biggest <br /> on-chain season is here,
        </h1>
      </div>
    </div>
    <div class="question">
      <span class=""> It is redefining the concept of value for Bitcoin. </span>
      <br />
      <div>
        So why is it hard to &nbsp;
        <ul class="accent">
          <li style="position: absolute;">
            <span> FIND INFO ?</span>
          </li>
          <li style="position: absolute;">
            <span> CHART ?</span>
          </li>
          <li style="position: absolute;">
            <span> TRADE ?</span>
          </li>
          <li style="position: absolute;">
            <span> KNOW MORE ?</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .page-head {
    text-align: end;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 24px;
    line-height: 29px;

    h1 {
      text-align: left;
      margin-bottom: 4rem;
      font-size: 64px;
      font-style: italic;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0em;
    }

    .question {
      text-align: right !important;
      font-size: 32px;
      font-style: italic;
      font-weight: 700;
      line-height: 1.1;
      letter-spacing: 0em;
      text-align: center;
      div{
        display: flex;
        justify-content: flex-end;
        ul {
        width: 170px;
        position: relative;
        /* right: 0; */
        display: inline-table;
        height: 25px;
        // background: red;
      }
      }
      
    }
  }

  @media screen and (max-width: 1700px) {
    .page-head {
      h1 {
        font-size: 4.7vw;
        margin-bottom: 30px;
      }
      .question {
        font-size: 2.1vw;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .page-head {
      h1 {
        // font-size: 36px;
        margin-bottom: 20px;
      }
      .question {
        // font-size: 22px;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .page-head {
      h1 {
        font-size: 6vw;
        margin-bottom: 10px;
        letter-spacing: -1px;
      }
      .question {
        font-size: 2.3vw;
        margin-bottom: 40px;
        div{
          ul{
          width: 100px;
        }
        }
        
      }
    }
  }
  @media screen and (max-width: 767px) {
    .page-head {
      h1 {
        font-size: 36px;
      }
      .question {
        margin-top: 30px;
        font-size: 18px;
        text-align: left !important;
        div{
          justify-content: flex-start;
          margin-top: 10px;
          ul{
width: 150px
          }
        }

        text-align: center;
        li span {
          text-align: center;
        }
      }
    }
  }
</style>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  const tl = gsap.timeline({
    repeat: -1,
    repeatDelay: 0.5,
    defaults: {
      duration: 2,
    },
  });
  gsap.utils.toArray(".page-head .question ul li").forEach((question: any) => {
    tl.add(
      gsap
        .timeline({ defaults: { duration: 2, ease: "power1.inOut" } })
        .fromTo(question, { opacity: 0, top: "100%" }, { opacity: 1, top: 0 })
        .to(question, { opacity: 0, top: "-100%" })
    );
  });



  gsap.from(".page-head h1", {
    opacity: 0,
    y: 100,
    duration: 1,
    scrollTrigger: {
      trigger: ".page-head",
      start: "top bottom",
    },
  });

  gsap.from(".page-head .question", {
    opacity: 0,
    y: 100,
    duration: 1,
    scrollTrigger: {
      trigger: ".page-head",
      start: "top bottom",
    },
  });
</script>
