<section class="lets-do-it-together relative">
  <h2>Let's Do It Together!</h2>
  <div class="container mx-auto">
    <h3 class="accent">I'm Interested in</h3>
    <div class="connecting-directly">
      <h4>Connecting Directly</h4>
      <a href="https://telegram.me/probesats"
        >probesats <img
          src="/telegram-link-icon.svg"
          alt="Telegram"
        /></a
      >
      <a href="mailto:ash@probesats.com"
        >ash@probesats.com <img
          src="/mail-link-icon.svg"
          alt="Mail"
        /></a
      >
      <a href="https://twitter.com/probeSats"
        >@probesats <img src="/x-link-icon.svg" alt="X" /></a
      >
    </div>
    <img src="/logo.svg" class="logo" width="43" height="87" />
    <form
      id="connecting-the-og-way"
      class="connecting-the-og-way"
      action="https://docs.google.com/forms/d/e/1FAIpQLSfxb-tD96OgNQkShSUdcr_Uwd9645xzLt5nnFh4A7FgrNyaTg/formResponse"
      method="post"
    >
      <div class="success hidden">
        gm, it's Done! we'll update you <svg
          width="25"
          height="25"
          viewBox="0 0 25 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.5 9.5H15.51M9.5 9.5H9.51M22.5 12.5C22.5 18.0228 18.0228 22.5 12.5 22.5C6.97715 22.5 2.5 18.0228 2.5 12.5C2.5 6.97715 6.97715 2.5 12.5 2.5C18.0228 2.5 22.5 6.97715 22.5 12.5ZM16 9.5C16 9.77614 15.7761 10 15.5 10C15.2239 10 15 9.77614 15 9.5C15 9.22386 15.2239 9 15.5 9C15.7761 9 16 9.22386 16 9.5ZM10 9.5C10 9.77614 9.77614 10 9.5 10C9.22386 10 9 9.77614 9 9.5C9 9.22386 9.22386 9 9.5 9C9.77614 9 10 9.22386 10 9.5ZM12.5 18C15.0005 18 17 16.167 17 14.5H8C8 16.167 9.9995 18 12.5 18Z"
            stroke="black"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </div>

      <h4>Connecting the OG way</h4>
      <div class="investing-as">
        <label>Investing as*</label>
        <div class="investing-as-choices choices">
          <button
            type="button"
            class="selected"
            data-value="business / protocol">Business / Protocols</button
          >
          <button type="button" data-value="VC">VC</button>
          <button type="button" data-value="ANGEL">ANGEL</button>
          <button type="button" data-value="individual">Individual</button>
          <input
            type="hidden"
            name="entry.1108831491"
            value="business / protocol"
            required
          />
        </div>
      </div>
      <div class="providing">
        <label>providing*</label>
        <div>
          <div class="providing-choices choices">
            <button data-value="Email" type="button" class="selected"
              >Email</button
            >
            <button data-value="Tg" type="button">Tg</button>
            <button data-value="x" type="button">X</button>
            <input
              type="hidden"
              name="entry.608067706"
              value="Email"
              required
            />
          </div>
          <input
            type="text"
            name="entry.1832823093"
            placeholder="Enter it here"
            required
          />
        </div>
      </div>
      <div class="tell-us-more">
        <label>Tell us more*</label>
        <div>
          <textarea name="entry.565726660" placeholder="Type your inquiry"
          ></textarea>
          <button type="submit">Send</button>
        </div>
      </div>
    </form>
  </div>
  <div class="amazon-for-bitcoin">
    <span class="accent">PROBESATS</span> : the Amazon for bitcoin
  </div>
  <img src="/adam.svg" class="adam" />
  <img src="/god.svg" class="god" />
</section>

<style type="scss">
  section {
    & > * {
      margin-bottom: 4rem;
    }
  }
  .container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 240px auto 525px;
    column-gap: 4rem;
    justify-content: center;
    row-gap: 57px;
    background: #00000033;
    border-radius: 20px;
    padding: 2rem;
  }
  h2 {
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
    letter-spacing: -4px;
    text-align: left;
    margin: 10rem 0 5rem 0;
    margin-left: 100px;
  }

  @media screen and (max-width: 1516px) {
    h2 {
      margin-left: 1rem;
    }
    @media screen and (max-width: 750px) {
      h2 {
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -1px;
        margin: 61px 1rem;
      }
    }
  }

  h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    grid-column: 1/-1;
  }
  h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .providing > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: stretch;
  }
  .logo {
    place-self: center;
  }
  label {
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
  }
  .choices {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
    button {
      font-size: 12px;
      font-weight: 600;
      line-height: 13px;
      letter-spacing: 0em;
      text-align: center;
      padding: 10px 23.55px 10px 23.55px;
      background: #000000;
      color: white;
      &.selected {
        background: #ffffff;
        color: black;
      }
      min-height: 44px;
    }
  }
  input {
    background: #ffffff4d;
    padding: 10px 23.55px 10px 23.55px;
    flex: 1;
  }
  textarea {
    background: #ffffff4d;
    width: 350px;
    padding: 11.77px 23.55px 11.77px 23.55px;
    resize: none;
  }
  button[type="submit"] {
    background: #ffffff;
    color: black;
    padding: 1rem 50px;
  }
  .connecting-directly {
    display: flex;
    flex-direction: column;
    h4 {
      margin-bottom: 4rem;
      align-self: flex-start;
    }
    a {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      padding: 5px;
      align-self: flex-end;
    }
  }
  @media screen and (max-width: 1000px) {
    .connecting-directly {
      display: grid;
      grid-template-columns: repeat(3, auto);
      column-gap: 1rem;
      align-items: center;
      gap: 1rem;
      a {
        align-items: center;
        justify-content: center;
      }
      h4 {
        grid-column: 1/-1;
        margin-bottom: 1rem;
      }
    }
  }
  .tell-us-more div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: stretch;
  }
  textarea {
    flex: 1;
  }
  img.adam {
    position: absolute;
    top: 250px;
    left: 0;
    z-index: -1;
    width: 939px;
    min-width: 939px;
    height: 663px;
    min-height: 663px;
  }
  img.god {
    position: absolute;
    left: 700px;
    top: -100px;
    z-index: -1;
    width: 1328px;
    min-width: 1328px;
    height: 941px;
    min-height: 941px;
  }

  @media screen and (max-width: 1516px) {
    img.adam {
      right: calc(50% - 200px);
      left: unset;
    }
    img.god {
      left: 50%;
    }
  }

  .amazon-for-bitcoin {
    font-family: "National", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -2px;
    text-align: center;

    background: #ffffff;
    color: black;
    padding: 28px 0;
  }

  @media screen and (max-width: 1000px) {
    .container {
      grid-template-columns: 1fr;
      row-gap: 2rem;
      align-items: center;
    }
    .logo {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    * {
      flex-wrap: wrap;
    }
  }

  .success {
    margin: auto;
    padding: 12px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    text-align: center;
    font-family: "National", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 15.4px */
  }
  .success:not(.hidden) {
    display: flex;
  }
</style>

<script>
  import { gsap } from "gsap";

  gsap.from(".lets-do-it-together h2", {
    x: -100,
    opacity: 0,
    duration: 1,
    ease: "power2.out",
    scrollTrigger: {
      trigger: ".lets-do-it-together h2",
      start: "top 80%",
      end: "bottom 20%",
    },
  });

  gsap.from(".lets-do-it-together .connecting-directly", {
    x: 100,
    opacity: 0,
    duration: 1,
    ease: "power2.out",
    scrollTrigger: {
      trigger: ".lets-do-it-together .connecting-directly",
      start: "top 80%",
      end: "bottom 20%",
    },
  });

  gsap.from(".lets-do-it-together .logo", {
    y: 100,
    opacity: 0,
    duration: 1,
    ease: "power2.out",
    scrollTrigger: {
      trigger: ".lets-do-it-together .connecting-the-og-way",
      start: "top 80%",
      end: "bottom 20%",
    },
  });

  gsap.from(".lets-do-it-together .connecting-the-og-way", {
    x: 100,
    opacity: 0,
    duration: 1,
    ease: "power2.out",
    scrollTrigger: {
      trigger: ".lets-do-it-together .connecting-the-og-way",
      start: "top 80%",
      end: "bottom 20%",
    },
  });

  gsap.from(".lets-do-it-together .amazon-for-bitcoin", {
    y: 100,
    opacity: 0,
    duration: 1,
    ease: "power2.out",
    scrollTrigger: {
      trigger: ".lets-do-it-together",
      start: "top 80%",
      end: "bottom 20%",
    },
  });

  gsap.from(".lets-do-it-together .adam", {
    x: "-100%",
    y: 100,
    opacity: 0,
    duration: 3,
    ease: "power2.out",
    scrollTrigger: {
      trigger: ".lets-do-it-together",
      start: "top 80%",
      end: "bottom 20%",
    },
  });

  gsap.from(".lets-do-it-together .god", {
    x: "100%",
    y: -100,
    opacity: 0,
    duration: 3,
    ease: "power2.out",
    scrollTrigger: {
      trigger: ".lets-do-it-together",
      start: "top 80%",
      end: "bottom 20%",
    },
  });

  const submitForm = async (form: HTMLFormElement) => {
    const formData = new FormData(form);
    const valid = form.checkValidity();
    if (!valid) {
      throw new Error("Form is not valid");
    }
    const response = await fetch(form.action, {
      method: "POST",
      body: formData,
      mode: "no-cors",
      headers: {
        "Content-Type": "application/x-www-form-encoded",
      },
    });
  };

  const connecingOGWayForm: HTMLFormElement = document.querySelector(
    "form#connecting-the-og-way"
  )!;
  connecingOGWayForm
    .querySelectorAll(".investing-as-choices button")
    .forEach((button) => {
      button.addEventListener("click", (e) => {
        const input: HTMLInputElement = connecingOGWayForm.querySelector(
          'input[name="entry.1108831491"]'
        )!;
        input.value = (e.target as HTMLButtonElement).dataset.value!;
        connecingOGWayForm
          .querySelectorAll(".investing-as-choices button")
          .forEach((button) => button.classList.remove("selected"));
        (e.target as HTMLButtonElement).classList.add("selected");
      });
    });

  connecingOGWayForm
    .querySelectorAll(".providing-choices button")
    .forEach((button) => {
      button.addEventListener("click", (e) => {
        const input: HTMLInputElement = connecingOGWayForm.querySelector(
          'input[name="entry.608067706"]'
        )!;
        console.log(e.target, (e.target as HTMLButtonElement).dataset.value!);
        input.value = (e.target as HTMLButtonElement).dataset.value!;
        connecingOGWayForm
          .querySelectorAll(".providing-choices button")
          .forEach((button) => button.classList.remove("selected"));
        (e.target as HTMLButtonElement).classList.add("selected");
      });
    });

  connecingOGWayForm.addEventListener("submit", async (e) => {
    e.preventDefault();
    try {
      await submitForm(connecingOGWayForm);
      connecingOGWayForm.querySelector(".success")!.classList.remove("hidden");
      // remove every other element besides success in form
      connecingOGWayForm
        .querySelectorAll("h4 , .investing-as, .providing, .tell-us-more")
        .forEach((el) => el.remove());
    } catch (e) {
      alert("Form submission failed");
    }
  });
</script>
