<section class="the-solution">
  <div class="container mx-auto">
    <h2 class="xl:hidden block mb-10 text-center">The <span class="accent"> Solution</span></h2>
    <div class="card">
      <div class="text flex !justify-between">
        <h2 class="xl:block hidden">The <span class="accent"> Solution</span></h2>
        <div>
          <p class="mb-10">A better user experience to</p>
          <ul class="accent">
            <li>
              <img src="/crit-eco-checkbox.svg" class="checkbox-large" /> Find Info
            </li>
            <li>
              <img src="/crit-eco-checkbox.svg" class="checkbox-large" />Chart
            </li>
            <li>
              <img src="/crit-eco-checkbox.svg" class="checkbox-large" />Analyze
              & Data visualization
            </li>
            <li>
              <img src="/crit-eco-checkbox.svg" class="checkbox-large" />Market
              Aggregation
            </li>
            <li>
              <img
                src="/crit-eco-checkbox.svg"
                class="checkbox-large"
              />Onboarding New Protocols
            </li>
          </ul>
          <p class="text-2 hidden lg:block xl:hidden">
            For 9 months, <span class="accent">Probesats is</span> analyzing the data
            and<br /> building <span class="accent">
              the platform needed for</span
            > the Hottest and<br /> fasted Growing <span class="accent"
              >Bitcoin Ecosystem.</span
            >
          </p>
        </div>
      </div>
      <div class="image-side flex !justify-between flex-col items-start lg:items-center">
        <div class="image">
          <img class="radar" src="/radar.svg" alt="Let's make it simple" />
          <img class="scan" src="/scan.svg" />
          <div class="radar-dot radar-dot-2" style="top: 25%; left: 30%;"></div>
          <div class="radar-dot radar-dot-3" style="top: 15%; left: 50%;"></div>
          <div class="radar-dot radar-dot-4" style="top: 45%; left: 75%;"></div>
          <div class="radar-dot radar-dot-5" style="top: 80%; left: 45%;"></div>
          <div class="radar-dot radar-dot-6" style="top: 75%; left: 45%;"></div>
        </div>

        <p class="text-2 block lg:hidden xl:block">
          For 9 months, <span class="accent">Probesats is</span> analyzing the data
          and<br /> building <span class="accent">
            the platform needed for</span
          > the Hottest and<br /> fasted Growing <span class="accent"
            >Bitcoin Ecosystem.</span
          >
        </p>
      </div>
    </div>

    <div class="text-2">
      We crafted Probesats to meet current needs, developing smart algorithms to
      address intricate infrastructure challenges. It's a simple yet powerful
      product, meeting market demands with precision.
    </div>
  </div>
</section>

<style>
  p {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0em;
  }
  .text-2 {
    padding-top: 50px;
  }
  .card {
    
    display: flex;
    justify-content: space-between;
    .image-side {
      position: relative;
      height: auto;
      width: calc(50% - 40px);
      .image {
        width: 400px;
        position: relative;
        margin: 25px;

        div {
          position: absolute;
          top: 50%;
          left: 45%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
        .scan {
          position: absolute;
          /* width: calc(100% - 40px); */
          transform: 0;
          transform-origin: 50% 50%;
          top: 0;
          left: 0;
        }
        .radar-dot {
          position: absolute;
          width: 16px;
          height: 16px;
          background: #eccba1;
          backdrop-filter: blur(4px);
          box-shadow: 0px 0px 16px 4px #f7931a;
          border-radius: 50%;
          scale: 0;
        }
      }
      .image::before {
        background-color: rgba(0, 0, 0, 1);
        border-radius: 12px;
        content: "";
        width: calc(100% + 50px);
        height: calc(100% + 50px);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
    .text {
      width: calc(50% - 40px);
    }
  }
  .image-side {
  }
  .text {
    grid-column: 2 / span 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 2;
    gap: 26px;
    text-align: left;
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      li {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.2;
        display: flex;
        flex-direction: row;
        gap: 6px;
        color: white;
      }
    }
  }

  @media screen and (max-width: 1700px) {
    p {
      font-size: 24px;
    }
    .card {
      .image-side {
        .image {
          width: 300px;
        }
      }
      .text {
        ul {
          li {
            font-size: 20px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1200px){
.text-2{
  font-size: 20px;
}
  }
  @media screen and (max-width: 1024px) {
    p {
      font-size: 20px;
    }
    .text-2 {
      font-size: 22px;
    }
    .card {
      max-width: 500px;
      margin: auto;
      flex-direction: column;
      .image-side {
        width: 100%;
        .image {
        }
      }
      .text {
        width: 100%;
        ul {
          li {
            font-size: 16px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    p {
      font-size: 16px;
    }
    .text-2 {
      font-size: 18px;
    }
    .text {
      ul {
        li {
          font-size: 12px;
        }
      }
    }
  }
</style>

<script>
  import { gsap } from "gsap";

  gsap.from(".the-solution h2", {
    opacity: 0,
    x: -100,
    duration: 1,
    scrollTrigger: {
      trigger: ".the-solution",
      start: "top center",
    },
  });

  gsap.from(".the-solution .text", {
    y: 100,
    duration: 1,
    opacity: 0,
    stagger: 0.1,
    scrollTrigger: {
      trigger: ".the-solution",
      start: "top center",
    },
  });

  gsap.from(".the-solution .text-2", {
    y: 100,
    duration: 1,
    opacity: 0,
    stagger: 0.1,
    scrollTrigger: {
      trigger: ".the-solution",
      start: "top center",
    },
  });

  const dotTimeline = (dot: number, start: number, end: number) => {
    const tl = gsap.timeline({
      defaults: {
        ease: "power1.inOut",
      },
    });
    tl.fromTo(
      `.radar-dot-${dot}`,
      { scale: 0, opacity: 0 },
      {
        scale: 1,
        duration: 0.5,
        opacity: 1,
      },
      `${start}`
    );
    tl.to(
      `.radar-dot-${dot}`,
      {
        scale: 0,
        duration: 0.5,
        opacity: 0,
      },
      `${end}`
    );
    return tl;
  };

  gsap
    .timeline({
      scrollTrigger: {
        trigger: ".the-solution",
        start: "top center",
      },
      repeat: -1,
    })
    .fromTo(
      ".scan",
      { rotate: 0 },
      {
        rotate: 360,
        duration: 20,
        ease: "none",
      }
    )
    .add(dotTimeline(2, 0.65, 4.3), 0)
    .add(dotTimeline(3, 2.75, 6.4), 0)
    .add(dotTimeline(4, 7, 11), 0)
    .add(dotTimeline(5, 13, 17), 0)
    .add(dotTimeline(6, 13, 17), 0);
</script>
